.portfolio-container {
	
	a {
		margin-right: 60px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: block;

		&:nth-child(3n) {
			margin-right: 0;
		}

		@media (max-width: 600px) {
			margin-right: 0;
		}

		p {
			position: absolute;
			top: 100%;
			text-align: center;
			width: 100%;
			transition: all 0.3s ease-in-out;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			font-size: 20px;
		}

		img {
			display: block;
		}

		&:hover {
			&:before {
				bottom: 0;
			}

			p {
				top: 0;
			}
		}

		&:before {
			background-color: rgba(0, 0, 0, 0.7);
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: -100%;
			left: 0;
			transition: all 0.3s ease-in-out;
		}
	}
}

.portfolio__sub-container {
	margin-bottom: 60px;

	p {
		font-size: 15px;
	}

	a {
		border-bottom: 1px solid white;
	}
}

.carousel .thumb {
	border: 3px solid #333 !important;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
	border: 3px solid #fff !important;
}
