@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,600');

html {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

strong {
	font-weight: 400;
    margin-right: 5px;
}

a {
	color: $white;
	text-decoration: none;
	// border-bottom: 0px solid $white;
	// transition: all .3s ease-in-out;

	&:hover {
		// border-bottom: 1px solid $white;
	}
}

.small-text {
	font-size: 15px;
	padding-right: 15px;
}

h1 {
	animation: fadeIn 1.5s 4s ease-in-out;
	animation-fill-mode: forwards !important;
	opacity: 0;
	position: relative;
	color: white;
	font-size: 45px;
	// white-space: nowrap;
	font-weight: 100;
	text-align: center;
	margin-bottom: 0;

	@media (max-width: 600px) {
		font-size: 30px;
	}
}

h2 {
	animation: fadeIn 1.5s 5.2s ease-in-out;
	animation-fill-mode: forwards !important;
	opacity: 0;
	position: relative;
	color: white;
	font-size: 30px;
	// white-space: nowrap;
	font-weight: 100;
	margin: 0;
	text-align: center;
	padding: 0 20px;

	@media (max-width: 600px) {
		font-size: 20px;
	}
}

h3 {
	font-size: 30px;
	font-weight: 100;
	margin: 0;
	padding: 0 20px;

	@media (max-width: 600px) {
		font-size: 20px;
	}
}

h4 {
	font-size: 25px;
	margin: 0;
	padding: 0 20px;
	margin-bottom: 20px;
	font-weight: 400;

	@media (max-width: 600px) {
		font-size: 20px;
	}
}

p {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 19px;

	@media (max-width: 600px) {
		font-size: 16px;
	}
}

hr {
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	border-left: 0;
	border-right: 0;
	padding: 2px;

	&.ani {
		opacity: 0;
		animation: fadeIn 1.5s 4.8s ease-in-out;
		animation-fill-mode: forwards !important;
	}
}
