@import './styles/vars';
@import './styles/type';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	font-size: 16px;
	text-align: center;
	margin: 10px;
}

html {
	color: white;
}

body {
	background: $backgroundColor;
	background: -moz-linear-gradient(-45deg, #16285d 0%, #18162f 44%, #120a2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #16285d 0%,#18162f 44%,#120a2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #16285d 0%,#18162f 44%,#120a2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-attachment: fixed;
}

.title-container {
	margin: 60px auto;
	display: inline-block;

	@media (max-width: 600px) {
		margin: 40px auto;
	}
}

.full-height {
	height: 100vh;
}

.padding {
	padding-left: 60px;
	text-align: left;

	@media (max-width: 600px) {
		padding-left: 0;
	}
}

.padding-right {
	padding-right: 40px;

	@media (max-width: 600px) {
		padding-right: 0;
	}
}

.back-arrow {
	position: fixed;
	top: 25px;
	right: 25px;
}

#root {
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-container {
	display: flex;

	@media (max-width: 600px) {
		display: block;
	}

	> * {
		flex: 1;

		@media (max-width: 600px) {
			margin-bottom: 40px;
		}
	}
}

ul li {
	text-align: left;
}

img {
	width: 100%;
}

.margin-bottom {
	margin-bottom: 60px;

	@media (max-width: 600px) {
		margin-bottom: 0;
	}
}

.route-enter {
	opacity: 0.01;
}

.route-enter.route-enter-active {
	opacity: 1;
	transition: all 1s ease-in;
}

.route-leave {
	opacity: 1;
}

.route-leave.route-leave-active {
	opacity: 0.01;
	transition: all 1s ease-in;
}

.route-appear {
	opacity: 0.01;
}

.route-appear.route-appear-active {
	opacity: 1;
	transition: all 1s ease-in;
}
