@import '../../styles/vars';

@keyframes top {
	0% {
		top: -#{$moveFrom};
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes bottom {
	0% {
		top: $moveFrom;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes left {
	0% {
		left: -#{$moveFrom};
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes right {
	0% {
		left: $moveFrom;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes right {
	0% {
		left: $moveFrom;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes borderFade {
	0% {
		border-color: rgba(0, 0, 0, 0.0);
	}
	100% {
		border-color: $borderColor;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes width {
	0% {
		max-width: 0;
	}
	100% {
		max-width: 500px;
	}
}

.master-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	> div {
		display: inline-block;
	}
}

.logo-container {
	width: $containerSize;
	height: $containerSize;
	border: 1px solid $borderColor;
	border-color: $borderColor;
	margin: 0 auto;
	position: relative;
	//transform: rotate(45deg);
	top: 0;
	animation: spin 4s 0s ease-in-out, borderFade 5s ease-in-out;
	//animation-fill-mode: forwards;
	position: relative;
	transition: transform 0.3s ease-in-out;
	margin-bottom: 70px;

	&:hover {
		transform: rotate(360deg);
	}

	.circle {
		border: 1px solid $borderColor;
		border-radius: 50%;
		width: 125%;
		height: 125%;
		position: absolute;
		top: -12.5%;
		left: -12.5%;
		animation: borderFade 4s ease-in-out;

		.circle {
			border: 1px solid $borderColor;
			border-radius: 50%;
			width: 105%;
			height: 105%;
			position: absolute;
			top: -2.5%;
			left: -2.5%;
			animation: borderFade 4s ease-in-out;
		}
	}

	.square {
		border: 1px solid $borderColor;
		width: 105%;
		height: 105%;
		position: absolute;
		top: -2.5%;
		left: -2.5%;
		animation: borderFade 4s ease-in-out;
	}

	div[class^="line"] {
		background: $lineColor;
		position: absolute;
		width: 100%;
		height: 1px;
		opacity: 0;
		animation-fill-mode: forwards !important;
	}

	.line-1 {
		top: 29.6%;
		animation: left 1s ease-in-out;
	}

	.line-2 {
		top: $big;
		animation: right 1s 0.4s ease-in-out;
	}

	.line-3 {
		left: $small;
		transform: rotate(90deg);
		transform-origin: 0%;
		animation: top 1s 0.8s ease-in-out;
	}

	.line-4 {
		left: $big;
		transform: rotate(90deg);
		transform-origin: 0%;
		animation: bottom 1s 1.2s ease-in-out;
	}

	.sub-logo-container {
		transform: rotate(45deg);
		transform-origin: 50%;
		width: $containerSize;
		height: $containerSize;
		position: relative;
		border: 1px solid $borderColor;
		left: 0;
		top: 0;
		animation: borderFade 3s ease-in-out;

		.line-5 {
			top: $small;
			animation: left 1s 1.6s ease-in-out;
		}

		.line-6 {
			top: $big;
			animation: right 1s 2s ease-in-out;
		}

		.line-7 {
			left: 29%;
			transform: rotate(90deg);
			transform-origin: 0%;
			animation: top 1s 2.4s ease-in-out;
		}

		.line-8 {
			left: 70.5%;
			transform: rotate(90deg);
			transform-origin: 0%;
			animation: bottom 1s 2.8s ease-in-out;
		}
	}
}
