input, textarea {
	background-color: transparent;
	display: block;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid white;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	color: white;
	width: 90%;
	font-family: 'Montserrat', sans-serif;
}

textarea {
	border: 1px solid white;
	min-height: 150px;
	margin-top: 40px;
}

.button {
	display: inline-block;
	margin: 0 auto;
	border: 1px solid white;
}

form {
	margin-bottom: 40px;
}

.contact-container {
	position: relative;
}

.contact-info {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	height: 105%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	opacity: 0;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}
}
